<template>
  <div>
    <Header />
    <router-view />
  </div>
</template>

<script>
import Header from '@/components/common/Header'
export default {
  name: 'AdminLayout',
  components: { Header }
}
</script>

<style scoped>

</style>
