<template>
  <button type="button" v-on="$listeners">
    <slot />
  </button>
</template>

<script>
export default {
  name: 'Button'
}
</script>

<style lang="scss" scoped>
  button {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    background-color: #5e74ff;
    border-color: #5e74ff;
    cursor: pointer;
    color: #fff;
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    font-weight: 500;
    letter-spacing: .0892857143em;
    justify-content: center;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-indent: .0892857143em;
    text-transform: uppercase;
    transition-duration: .28s;
    transition-property: box-shadow,transform,opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    &:disabled {
      background-color: rgba(0,0,0,.12);
      box-shadow: none;
      border-color: transparent;
      color: rgba(0,0,0,.26);
    }
  }
</style>
