<template functional>
  <div class="card">
    <div v-if="props.title" class="card-title">
      {{ props.title }}
    </div>
    <div class="card-content">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Card',
  props: {
    title: [String, Number]
  }
}
</script>

<style lang="scss" scoped>
  .card {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 5px;
    padding: 15px;
    .card-title {
      padding: 15px 10px;
    }
    .card-content {
      padding: 10px;
    }
  }
</style>
