<template>
  <div class="checkbox">
    <input
      class="inp-cbx"
      type="checkbox"
      :value="value"
      :id="_uid"
      v-bind="$attrs"
      v-on="{
        ...$listeners,
        input: ($event) => $emit('input', $event.target.checked)
      }"
    />
    <label class="cbx" :for="_uid"><span>
    <svg width="12px" height="10px" viewbox="0 0 12 10">
      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
    </svg></span><span><slot /></span></label>
  </div>
</template>

<script>
export default {
  name: 'Checkbox',
  props: {
    errors: {
      type: [Array, String]
    },
    value: {
      type: Boolean,
      default: false
    },
    valid: {
      type: Boolean,
      default: false
    },
    label: {
      type: String
    }
  }
}
</script>

<style lang="scss" scoped>
.checkbox {
  margin-bottom: 15px;
  .inp-cbx {
    display: none;
    &:checked + .cbx {
      span {
        &:first-child {
          background: #506EEC;
          border-color: #506EEC;
          animation: wave .4s ease;
          svg {
            stroke-dashoffset: 0;
          }
          &:before {
            transform: scale(3.5);
            opacity: 0;
            transition: all .6s ease;
          }
        }
      }
    }
  }
  .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    span {
      display: inline-block;
      vertical-align: middle;
      transform: translate3d(0,0,0);
      &:first-child {
        position: relative;
        width: 18px;
        height: 18px;
        margin-right: 10px;
        border-radius: 3px;
        transform: scale(1);
        vertical-align: middle;
        border: 1px solid #9098A9;
        transition: all .2s ease;
        svg {
          position: absolute;
          top: 3px;
          left: 2px;
          fill: none;
          stroke: #FFFFFF;
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: 16px;
          stroke-dashoffset: 16px;
          transition: all .3s ease;
          transition-delay: .1s;
          transform: translate3d(0,0,0);
          &:before {
            content: "";
            width: 100%;
            height: 100%;
            background: #506EEC;
            display: block;
            transform: scale(0);
            opacity: 1;
            border-radius: 50%;
          }
          &:last-child {
            padding-left: 2px;
          }
        }
        &:hover span:first-child {
          border-color: #506EEC;
        }
      }
    }
  }
  @keyframes wave {
    50% {
      transform: scale(.9)
    }
  }
}
</style>
