<template>
  <div class="container"><slot /></div>
</template>

<script>
export default {
  name: 'Container'
}
</script>

<style lang="scss" scoped>
  .container {
    max-width: 1124px;
    padding: 15px;
    margin: 0 auto;
  }
</style>
