<template>
  <div class="linear-progress">
    <div class="bar bar1"></div>
    <div class="bar bar2"></div>
  </div>
</template>

<script>
export default {
  name: 'LinearProgress'
}
</script>

<style lang="scss" scoped>
.linear-progress {
  background: #BBDEFB;
  height: 2px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  animation: start .3s ease-in;

  .bar {
    position: absolute;
    background: #1565C0;
    transition: transform .2s linear;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
  }

  .bar1 {
    animation: progressLinearMovement 2.5s infinite;
    animation-delay: 0s;
  }

  .bar2 {
    left: -100%;
    animation: progressLinearMovement 2.5s infinite;
    animation-delay: .7s;
  }

  @keyframes progressLinearMovement {
    0% {
      left: -100%
    }
    50% {
      left: 100%
    }
    100% {
      left: 100%
    }
  }
}

</style>
