<template>
  <div :class="['messages', {
      'warning': type === 'warning',
      'error': type === 'error',
      'success': type === 'success',
  }]">
    <div v-if="typeof messages === 'object'">
      <span
        v-for="(message, index) in messages"
        :key="index">
        {{ message }}
      </span>
    </div>
    <div v-else>
      {{ messages }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'Messages',
  props: {
    messages: {
      type: [String, Array],
      default: () => 'success'
    },
    type: {
      type: String,
      validator: (value) => ['success', 'error', 'warning'].indexOf(value) !== -1
    }
  }
}
</script>

<style lang="scss" scoped>
.messages {
  padding: 5px;
  color: #ffff;
  border-radius: 5px;
  margin-top: 15px;
  &.warning {
    color: #d27b13;
  }
  &.error {
    color: #ff5548;
  }
  &.success {
    color: #0ad226;
  }
}
</style>
