<template>
  <form class="root-form" @submit.prevent>
    <linear-progress v-if="loading" class="root-form__progress" />
    <ValidationObserver ref="obs" tag="div" v-slot="{ invalid, validated, passes }">
      <slot v-bind="{ invalid, validated, passes }" />
    </ValidationObserver>
  </form>
</template>

<script>
import LinearProgress from '@/components/LinearProgress'
export default {
  name: 'RootForm',
  props: {
    loading: {
      type: Boolean,
      default: false
    }
  },
  components: { LinearProgress }
}
</script>

<style lang="scss" scoped>
.root-form {
  padding-top: 10px;
  position: relative;
  &__progress {
    position: absolute;
    top: 0;
    left: 0;
  }
}
</style>
