<template>
  <div class="text-input">
    <label class="label" :for="_uid">{{ label }}</label>
    <div :class="['input', { 'error': !valid, 'valid': valid }]">
      <input
        :id="_uid"
        :type="type"
        :value="value"
        v-bind="$attrs"
        v-on="{
          ...$listeners,
          input: ($event) => $emit('input', $event.target.value)
        }"
      />
    </div>
    <div class="error-messages">
      <div v-if="typeof errors === 'string'">{{ errors }}</div>
      <div v-else v-for="(error, index) in errors" :key="index">{{ error }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TextInput',
  props: {
    type: {
      type: String,
      validator: (value) => ['text', 'number', 'password'].indexOf(value) !== -1,
      default: 'text'
    },
    errors: {
      type: [Array, String]
    },
    value: {
      type: [Number, String]
    },
    valid: {
      type: Boolean,
      default: false
    },
    label: {
      type: String
    }
  }
}
</script>

<style lang="scss" scoped>
  .text-input {
    margin-bottom: 15px;
    label {
      margin-bottom: 5px;
      display: block;
    }
    .input {
      border: 1px solid #ddd;
      border-radius: 5px;
    }
    .valid {
      border-color: #00be17;
    }
    .error {
      border-color: #ff0006;
    }
    .error-messages {
      margin-top: 5px;
    }
    input {
      padding: 7px 10px;
      border-radius: 5px;
      box-sizing: border-box;
      outline: none;
      border: none;
      width: 100%
    }
  }
</style>
