<template>
  <Container>
    Hello
  </Container>
</template>

<script>
import Container from '@/components/Container'
export default {
  name: 'TodoList',
  components: { Container }
}
</script>

<style scoped>

</style>
