<template>
  <div class="header">
    <router-link to="/" @click.native.prevent="logout">Выйти</router-link>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { LOGOUT_ACTION } from '@/constants/actionTypes'

export default {
  name: 'Header',
  methods: {
    ...mapActions({
      logout: LOGOUT_ACTION
    })
  }
}
</script>

<style lang="scss" scoped>
.header {
  padding: 10px 15px;
  display: flex;
  background: #eee;
  justify-content: flex-end;
  a {
    color: #1565C0;
  }
}
</style>
