<template>
  <div class="login">
    <div class="login__form">
      <Card title="Вход">
        <root-form :loading="loading" v-slot:default="{ invalid }">
          <ValidationProvider name="username" rules="required" v-slot="{ errors, valid }">
            <text-input
              label="Логин"
              :errors="errors || backendErrors['username']"
              :valid="valid"
              v-model="form.username"
            />
          </ValidationProvider>
          <ValidationProvider name="password" rules="required" v-slot="{ errors, valid }">
            <text-input
              label="Пароль"
              type="password"
              :errors="errors"
              :valid="valid"
              v-model="form.password"
            />
          </ValidationProvider>
          <Checkbox v-model="form.remember">Запомнить меня</Checkbox>
          <Button :disabled="invalid || loading" @click="login(form)">вход</Button>
        </root-form>
        <Messages
          v-if="backendErrors['nonFieldErrors']"
          type="error"
          :messages="backendErrors['nonFieldErrors']"
        />
      </Card>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import Card from '@/components/Card'
import TextInput from '@/components/TextInput'
import RootForm from '@/components/RootForm'
import Button from '@/components/Button'
import { LOGIN_ACTION } from '@/constants/actionTypes'
import Messages from '@/components/Messages'
import Checkbox from '@/components/Checkbox'
export default {
  name: 'Login',
  components: { Checkbox, Messages, Button, RootForm, TextInput, Card },
  data () {
    return {
      form: {},
      backendErrors: [],
      loading: false
    }
  },
  methods: {
    ...mapActions({
      loginAction: LOGIN_ACTION
    }),
    login () {
      this.loading = true
      this.loginAction(this.form).catch(error => {
        this.backendErrors = error.response.data
      }).finally(() => {
        this.loading = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  &__form {
    min-width: 400px;
  }
}
</style>
